.button1{
    height: 70px;
    width: 70px;
    font-size: 50px;
    color: coral;
    margin: 30px;
}
.button2{
    height: 70px;
    width: 70px;
    font-size: 50px;
    color: rgb(51, 14, 218);
}